<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut créateur d'event, <%= @attendance.user.first_name  %> s'est inscrit à ton event <%= @attendance.event.title  %></h1>
    <p>
      Voici son email : <%= @attendance.user.email %>.
    </p>    
    <p> À très vite sur monsite.fr !
  </body>
</html>