<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name  %> et bienvenue chez nous !</h1>
    <p>
      Tu as demandé de changer ton mot de passe en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour réinitialiser le mot de passe, suivre le lien suivant : <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>