<html>
  <div class="container text-center my-5"> 
    <h1>Echec</h1> 
    <p>Le paiement n'a pas abouti; réessayez.</p> 
    <p><%= link_to "Retourner à la page d'accueil", root_path %></p>
  </div>
</html> 